.contentC {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #ffd60a;
    position: relative;
    z-index: -1;
}
.img svg{
    width: 200px;
    height: 200px;
    text-align: center;
}
.contentImport { 
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
}
.text {
    margin-top: 65px;
    color: black;
    font-size: 20px;
    font-weight: 600;    
}
.flecha {
    width: 25px;
    height: 25px;
    color: black;
    position: absolute;
    bottom: 5px;
}
.imagen {
    width: 250px;
    height: 250px;
    background-color: black;

}

@media screen and (max-width:500px){

    .img svg{
        width: 100px;
        height: 100px;
        text-align: center;
    }
    .contentImport img{ 
        width: 50px;
        height: 50px;
    }
    .contentImport  { 
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 10%;
    }
    .contentImport  svg {
        width: 250px;
        height: 250px;
    }
}