.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    background-color: #ffd60a;
    position: relative;
}
.img svg{
    width: 200px;
    height: 200px;
    text-align: center;
}
.text {
    margin-top: 65px;
    color: black;
    font-size: 20px;
    font-weight: 600;    
}
.flecha {
    width: 25px;
    height: 25px;
    color: black;
    position: absolute;
    bottom: 5px;
}
.imagen {
    width: 250px;
    height: 250px;
    background-color: black;
}