.navLinks {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 25px;
  flex-direction: row;
}
.navLinks a {
 text-decoration: none;
 font-size: 20px;
 font-weight: 500;
 color: black;
}
.links {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color:#FCF267 ;
  text-align: center;
  cursor: pointer;
  transition: all;
  transition-duration: 0.5s;
}
.links:hover {
  background-color: #403d396c;
}
.normalNavigation {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
}
.content .normalNavigation svg{ 
  width: 90px;
  height: 90px;
}
.content .movileNavigation {
  display: none;
}

@media (max-width:775px){
  .links {
    background-color:#161616 ;
  }
  .content .normalNavigation {
    display: none;
  }
  .content .movileNavigation {
    display: flex;
    align-items: center;
    position: relative;
    transition: all 0.6s
  }
  .content .movileNavigation .hamburger {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 5%;
    z-index: 100;
  }
  .content .movileNavigation .close {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 20px;
    right: 55%;
    z-index: 100;
  }
  .content .movileNavigation .navLinks li a{

    color: #FCF267;
  }
  .content ul {
    display: flex;
    flex-direction:column;
    position: absolute;
    top:0;
    margin: 0;
    height: 100vh;
    right: 0;
    width: 60%;
    background-color: #161616;
    padding-top: 85px;
  }
  .content ul li {
    /* margin-top: 100px; */
    color: white;
  }
} 