.content {
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: row;
}
.contentForm h2 {
    margin-top: 7px;
}
.form input{
    background-color: rgb(207, 207, 207);
    border-style: none;
}
/* .contentButton {
    display: flex;
    justify-content: center;
    align-items: center;
} */
.boton {
    position: relative;
    margin: 65px 15px 0px 50px;
    width: 100px;
    height: 35px;
    background-color: #ffd60a;
    border-radius: 15px;
    border-style: none;
}