body{
    margin: 0px;
}
.content {
    height: 38px;
    background-color: #ffd60a;
    display: flex;
    justify-content: end;
    border: 0.8px groove #c2c2c24f;
    background-color: #ffd60a;


}
.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    font-size: 10px;
    font-weight: 600;
    color: black;
}