.content {
  width: 99vw;
  background-color: #ced4da;
  font-family: 'Poppins', sans-serif;
  position: relative;
  padding-bottom: 8%;
}
.content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.contentTitle {
  display: flex;
  justify-content: end;
  width: 40%;
  background-color: #FCF267;
  transition-timing-function: ease-in;
}
.img {
  margin-top: 40px;
  margin-right: 60px;
}
.content1 button {
  /* margin-right: 60px; */
  bottom: 20px;
}
.qr {
  /* position: absolute; */
  bottom: 30px;
  right: 35%;
}
@media screen and (max-width:775px){

}

